In [1]:
import pandas as pd

# read in data
park_info = pd.read_csv('../data/np_data.csv')
park_atten_pre79 = pd.read_csv('../data/npvisitation_1904_1978.csv')
park_atten_post79 = pd.read_csv('../data/npvisitation_1979_2019.csv')

# splitting, reformatting area types
park_info[['area_acres','area_km2']] = park_info.area_km2.str.split("(",expand=True)
area_acres = park_info['area_acres'].replace({' acres':'',',':''}, regex=True)
area_acres = area_acres.str.strip().to_frame().astype('float')
park_info['area_Acres'] = area_acres

# finding km2 and mi2 with math
park_info['area_kM2'] = round(park_info['area_Acres']*0.00404686,2)
park_info['area_miles2'] = round(park_info['area_Acres']*0.0015625,2)
park_info = park_info.drop(columns=['area_km2', 'area_acres']).rename(columns={'area_Acres':'area_acres', 'area_kM2':'area_km2'})
park_info

,park_name,park_code,region,state,date_established,img_url,description,1904,1905,1906,...,2013,2014,2015,2016,2017,2018,2019,area_acres,area_km2,area_miles2
0,Acadia,ACAD,Northeast,Maine,6997,https://cdn.shopify.com/s/files/1/0252/6455/40...,Covering most of Mount Desert Island and other...,0,0,0,...,2254922,2563129,2811184,3303393,3509271,3537575,3437286,49076.63,198.61,76.68
1,Arches,ARCH,Intermountain,Utah,26249,https://cdn.shopify.com/s/files/1/0252/6455/40...,"This site features more than 2,000 natural san...",0,0,0,...,1082866,1284767,1399247,1585718,1539028,1663557,1659702,76678.98,310.31,119.81
2,Badlands,BADL,Midwest,South Dakota,28804,https://cdn.shopify.com/s/files/1/0252/6455/40...,"The Badlands are a collection of buttes, pinna...",0,0,0,...,892372,868094,989354,996263,1054325,1008942,970998,242755.94,982.40,379.31
3,Big Bend,BIBE,Intermountain,Texas,16235,https://cdn.shopify.com/s/files/1/0252/6455/40...,Named for the prominent bend in the Rio Grande...,0,0,0,...,316953,314102,381747,388290,440276,440091,463832,801163.21,3242.20,1251.82
4,Biscayne,BISC,Southeast,Florida,29400,https://cdn.shopify.com/s/files/1/0252/6455/40...,"Located in Biscayne Bay, this park at the nort...",0,0,0,...,486848,525745,508164,514709,446961,469253,708522,172971.11,699.99,270.27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Wind Cave,WICA,Midwest,South Dakota,1105,https://cdn.shopify.com/s/files/1/0252/6455/40...,Wind Cave is distinctive for its calcite fin f...,2900,2438,2787,...,516142,547022,612198,617377,619924,656397,615350,33970.84,137.48,53.08
57,Wrangell–St. Elias,WRST,Alaska,Alaska,29557,https://www.nps.gov/wrst/planyourvisit/images/...,"An over 8 million acres (32,375 km2) plot of m...",0,0,0,...,69984,74722,80366,79047,68292,79450,74518,8323146.48,33682.61,13004.92
58,Yellowstone,YELL,Intermountain,Wyoming,3/1/1872,https://cdn.shopify.com/s/files/1/0252/6455/40...,"Situated on the Yellowstone Caldera, the park ...",13727,26188,17182,...,3188030,3513484,4097710,4257177,4116524,4115000,4020288,2219790.71,8983.18,3468.42
59,Yosemite,YOSE,Pacific West,California,10/1/1890,https://cdn.shopify.com/s/files/1/0252/6455/40...,"Yosemite features sheer granite cliffs, except...",0,0,5414,...,3691191,3882642,4150217,5028868,4336890,4009436,4422861,761747.50,3082.69,1190.23
60,Zion,ZION,Intermountain,Utah,7263,https://cdn.shopify.com/s/files/1/0252/6455/40...,Located at the junction of the Colorado Platea...,0,0,0,...,2807387,3189696,3648846,4295127,4504812,4320033,4488268,147242.66,595.87,230.07

In [33]:
park_atten_pre79

     park_name park_code          region state  year      Total
0       Acadia      ACAD      Northeast     ME  1919     64,000
1       Acadia      ACAD      Northeast     ME  1920     66,500
2       Acadia      ACAD      Northeast     ME  1921     69,836
3       Acadia      ACAD      Northeast     ME  1922     73,779
4       Acadia      ACAD      Northeast     ME  1923     64,200
...        ...       ...             ...   ...   ...        ...
2432      Zion      ZION  Intermountain     UT  1974    859,300
2433      Zion      ZION  Intermountain     UT  1975  1,055,200
2434      Zion      ZION  Intermountain     UT  1976  1,090,000
2435      Zion      ZION  Intermountain     UT  1977  1,105,900
2436      Zion      ZION  Intermountain     UT  1978  1,193,212

[2437 rows x 6 columns]