In [168]:
import pandas as pd

# read in data
park_info = pd.read_csv('../data/np_parks_info.csv')
park_atten_pre79 = pd.read_csv('../data/npvisitation_1904_1978.csv')
park_atten_post79 = pd.read_csv('../data/npvisitation_1979_2019.csv')

# splitting, reformatting area types
park_info[['area_acres','area_km2']] = park_info.area_km2.str.split("(",expand=True)
area_acres = park_info['area_acres'].replace({' acres':'',',':''}, regex=True)
area_acres = area_acres.str.strip().to_frame().astype('float')
park_info['area_Acres'] = area_acres

# finding km2 and mi2 with math
park_info['area_kM2'] = round(park_info['area_Acres']*0.00404686,2)
park_info['area_miles2'] = round(park_info['area_Acres']*0.0015625,2)
park_info = park_info.drop(columns=['area_km2', 'area_acres']).rename(columns={'area_Acres':'area_acres', 'area_kM2':'area_km2'})
park_info

,name,image,location,date_established,description,area_acres,area_km2,area_miles2
0,Acadia,Bass Harbor Head Light Station 2016.jpg,Maine,2/26/1919,Covering most of Mount Desert Island and other...,49076.63,198.61,76.68
1,American Samoa,Ofu Beach NPS.jpg,American Samoa,10/31/1988,The southernmost national park is on three Sam...,8256.67,33.41,12.90
2,Arches,Delicatearch1.jpg,Utah,11/12/1971,"This site features more than 2,000 natural san...",76678.98,310.31,119.81
3,Badlands,BadlandsView3.jpg,South Dakota,11/10/1978,"The Badlands are a collection of buttes, pinna...",242755.94,982.40,379.31
4,Big Bend,Big Bend National Park PB112573.jpg,Texas,6/12/1944,Named for the prominent bend in the Rio Grande...,801163.21,3242.20,1251.82
...,...,...,...,...,...,...,...,...
57,Wind Cave,Wind Cave lower.jpg,South Dakota,1/9/1903,Wind Cave is distinctive for its calcite fin f...,33970.84,137.48,53.08
58,Wrangell–St. Elias,MountJarvis.jpg,Alaska,12/2/1980,"An over 8 million acres (32,375 km2) plot of m...",8323146.48,33682.61,13004.92
59,Yellowstone,Grand Prismatic Spring and Midway Geyser Basin...,"Wyoming, Montana, Idaho",3/1/1872,"Situated on the Yellowstone Caldera, the park ...",2219790.71,8983.18,3468.42
60,Yosemite,YosemitePark2 amk.jpg,California,10/1/1890,"Yosemite features sheer granite cliffs, except...",761747.50,3082.69,1190.23
61,Zion,Angels Landing.jpg,Utah,11/19/1919,Located at the junction of the Colorado Platea...,147242.66,595.87,230.07

In [33]:
park_atten_pre79

     park_name park_code          region state  year      Total
0       Acadia      ACAD      Northeast     ME  1919     64,000
1       Acadia      ACAD      Northeast     ME  1920     66,500
2       Acadia      ACAD      Northeast     ME  1921     69,836
3       Acadia      ACAD      Northeast     ME  1922     73,779
4       Acadia      ACAD      Northeast     ME  1923     64,200
...        ...       ...             ...   ...   ...        ...
2432      Zion      ZION  Intermountain     UT  1974    859,300
2433      Zion      ZION  Intermountain     UT  1975  1,055,200
2434      Zion      ZION  Intermountain     UT  1976  1,090,000
2435      Zion      ZION  Intermountain     UT  1977  1,105,900
2436      Zion      ZION  Intermountain     UT  1978  1,193,212

[2437 rows x 6 columns]