In [14]:
import pymongo
import pandas as pd
park_info_df = pd.read_csv('../data/np_parks_info.csv')
park_info_df.head()
park_atten_df = pd.read_csv('../data/npvisitation_1904_1978.csv')
park_atten_df.head()

  park_name park_code      region state  year   Total
0    Acadia      ACAD  Northeast     ME  1919  64,000
1    Acadia      ACAD  Northeast     ME  1920  66,500
2    Acadia      ACAD  Northeast     ME  1921  69,836
3    Acadia      ACAD  Northeast     ME  1922  73,779
4    Acadia      ACAD  Northeast     ME  1923  64,200

In [10]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# define the database
db = client.national_parks_db

In [11]:
# define collections
park_info = db.park_info
park_atten = db.park_atten

In [12]:
# fill database collection park_info
for index, row in park_info_df.iterrows():
    
    post = {
        "park_name": str(row["park_name"]),
        "park_code": str(row["park_code"]),
        "region": str(row["region"]),
        "state": str(row["state"]),
        "est_date": str(row["date_established"]),
        "area": str(row["area_km2"]),
        "image_url": str(row["img_url"]),
        "description": str(row["description"])
    }
    #Insert data into business collection, post{} by post{}
    park_info.insert_one(post)

In [ ]:
# fill database collection park_atten